.container {
    height: 100vh;
    width: 100vw;
    min-width: 100%;
    padding-top: 0px;
    box-sizing: border-box;
    background-color: rgb(201, 21, 21);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}