.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
header {
  left: 0;
  right: 0;
  top: 0;
  height: 110px;
  position: fixed;
  width: 100%;
  margin:0px;
  padding:10px 70px 10px 70px;
  display: flex;
  background:transparent;
  background-color: #012506;
  color: white;
}
body {
  margin: 110px;
  position: relative;
  color: gray;
  font-size: 20px;
  display: flex;
  background-color: #343536;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #343536;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
