.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#banner {
  height: 100%;
  width: 100%;
  top: 110px;
  position: absolute;
  display: cover;
  right: 0;
  left: 0;
}
#about {
  top: 110;
  color: #0F4C75;
  font-size: 32px;
  background-color: #0F4C75;
}
body {
  /* margin: 110px; */
  color: #0F4C75;
  font-size: 20px;
  display: flex;
  background-color: #0F4C75;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #343536;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
